{% block cv %}
    <div class="grid-container">
        <div class="zone-1">
            <div class="toCenter">
                <div class="profile" style="backgroud-image" url="{{ vich_uploader_asset(student.curriculum) }}">
                </div>
            </div>
            <div class="contact-box">
                <div class="title">
                    <h2>Contact</h2>
                </div>
                <div class="call"><i class="fas fa-phone-alt"></i>
                    <div class="text">{{ student.user.phone }}</div>
                </div>
                <div class="home"><i class="fas fa-home"></i>
                    <div class="text">{{ student.user.zip }} {{ student.user.city }}</div>
                </div>
                <div class="country"><i class="fas fa-globe"></i>
                    <div class="text">{{ student.user.country }}</div>
                </div>
                <div class="email"><i class="fas fa-envelope"></i>
                    <div class="text">{{ student.user.email }}</div>
                </div>
            </div>
            <div class="personal-box">
                <div class="title">
                    <h2>Compétences</h2>
                    <div class="skills m-4">
                        <h6>{{ student.curriculum.skills }}</h6>
                    </div>
                </div>
            </div>
            <div class="langues-box">
                <div class="title">
                    <h2>Langues</h2>
                    <div class="skills m-4">
                        <h6>{{ student.curriculum.language }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="zone-2">
            <div class="headTitle">
                <h1>{{ student.user.firstname }}<br><b>{{ student.user.lastname }}</b></h1>
            </div>
            <div class="group-1">
                <div class="title">
                    <div class="box">
                        <h2>A propos de moi</h2>
                    </div>
                </div>
                <div class="desc">{{ student.description }}</div>
            </div>
            <div class="group-2">
                <div class="title">
                    <div class="box">
                        <h2>Diplômes</h2>
                    </div>
                </div>
                <div class="desc">
                {% for training in student.curriculum.trainings %}
                        <ul>
                            <li>
                                <div class="msg-1">{{ training.dateIn|date("d/m/Y") }}-{{ training.dateOut|date("d/m/Y") }} | {{ training.degree }}</div>
                                <div class="msg-2">{{ training.school }} | {{ training.graduate }}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="group-3">
                <div class="title">
                    <div class="box">
                        <h2>Expériences</h2>
                    </div>
                </div>
                <div class="desc">
                    {% for experience in student.curriculum.experiences %}
                        <ul>
                            <li>
                                <div class="msg-1">{{ experience.dateIn|date("d-n-y") }}-{{ experience.dateOut|date("d-n-y") }} | {{ experience.jobPosition }}</div>
                                <div class="msg-2">{{ experience.contractType }} - {{ experience.company }} - {{ experience.localisation }}</div>
                                <div class="msg-3">{{ experience.description }}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

