
{% block cv %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <div class="grid-container">
        <div class="zone-1">
            <div class="toCenter">
                <div class="profile"></div>
            </div>
            <div class="contact-box">
                <div class="title">
                    <h2>Contact</h2>
                </div>
                <div class="call"><i class="fas fa-phone-alt"></i>
                    <div class="text">{{ user.phone }}</div>
                </div>
                <div class="home"><i class="fas fa-home"></i>
                    <div class="text">{{ user.zip }} {{ user.city }}</div>
                </div>
                <div class="country"><i class="fas fa-globe"></i>
                    <div class="text">{{ user.country }}</div>
                </div>
                <div class="email"><i class="fas fa-envelope"></i>
                    <div class="text">{{ user.email }}</div>
                </div>
            </div>
            <div class="personal-box">
                <div class="title">
                    <h2>Compétences</h2>
                </div>
                {% for skills in skill %}
                    <div class="skill-1">
                        <p>{{ curriculum.skills }}</p>
                        <div class="progress">
                            <div class="dot active"></div>
                            <div class="dot active"></div>
                            <div class="dot active"></div>
                            <div class="dot active"></div>
                            <div class="dot active"></div>
                            <div class="dot active"></div>
                            <div class="dot active"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="langues-box">
                <div class="title">
                    <h2>Langues</h2>
                </div>
                <div class="logo">
                    {% for languages in language %}
                        <ul>
                            <li>{{ curriculum.language }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="zone-2">
            <div class="headTitle">
                <h1>{{ user.firstname }}<br><b>{{ user.lastname }}</b></h1>
            </div>
            <div class="subTitle">
                <h1>"A voir"<h1>
            </div>
            <div class="group-1">
                <div class="title">
                    <div class="box">
                        <h2>A propos de moi</h2>
                    </div>
                </div>
                <div class="desc">{{ student.description }}</div>
            </div>
            <div class="group-2">
                <div class="title">
                    <div class="box">
                        <h2>Diplômes</h2>
                    </div>
                </div>
                <div class="desc">
                {% for trainings in training %}
                        <ul>
                            <li>
                                <div class="msg-1">{{ training.date_in }}-{{ training.date_out }} | {{ training.degree}}</div>
                                <div class="msg-2">{{ training.school }} | {{ training.graduate }}</div>
                                <div class="msg-3">{{ training.description }}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="group-3">
                <div class="title">
                    <div class="box">
                        <h2>Expériences</h2>
                    </div>
                </div>
                <div class="desc">
                    {% for experiences in experience %}
                        <ul>
                            <li>
                                <div class="msg-1">{{ experience.date_in }}-{{ experience.date_out }} | {{ experience.job_position }}</div>
                                <div class="msg-2">{{ experience.contract_type }} - {{ experience.company }} - {{ experience.localisation }}</div>
                                <div class="msg-3">{{ experience.description }}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

