{% extends 'profile.html.twig' %}
    {% block title %}{{ student.username }}{% endblock %}
    {% block banner %}
        <img src="{{ asset('build/images/student2-banner.jpg') }}" class="profile-banner" alt="profile banner">
    {% endblock %}
    {% block picture %}
        <div class="profile-title title-student-edit">
            <img src="{{ vich_uploader_asset(student) }}" class="profile-picture picture-student-edit"
                 alt="{{ student.user.firstname }}">
        </div>
    {% endblock %}
    {% block information %}
        {{ form_start(userForm) }}

        <div class="profile-name mt-lg-4 mb-2 d-flex h-100 justify-content-end">
            {{ form_widget(userForm.firstname,
                {'attr': {'required': 'required', 'class': 'w-25 ms-1 me-1 '}}) }}
            {{ form_widget(userForm.lastname,
                {'attr': {'required': 'required', 'class': 'w-25 ms-1 me-1 '}}) }}
        </div>

        <div class="profile-localisation localisation-edit">
            <div class="d-flex mt-2 mb-5">
                 {{ form_widget(userForm.city, {'attr': {'class': 'mx-2'}}) }}
                 {{ form_widget(userForm.zip, {'attr': {'class': 'mx-2'}}) }}
                 {{ form_widget(userForm.country, {'attr': {'class': 'mx-2'}}) }}
            </div>
        </div>

        <div class="d-flex localisation-edit profile-localisation justify-content-between">
            {{ form_row(userForm.adress1) }}
            {{ form_row(userForm.adress2) }}
        </div>

        <div class="d-flex localisation-edit profile-localisation justify-content-between">
            {{ form_row(userForm.phone) }}
            {{ form_row(userForm.email) }}
        </div>
        <div>

        </div>
        <div class="d-flex localisation-edit profile-localisation justify-content-between">
            {{ form_row(userForm.civility) }}
            {{ form_row(userForm.birthdate) }}
        </div>

        <div class="d-flex flex-row-reverse localisation-edit profile-localisation justify-content-start">
            <button class="btn btn-secondary"> Modifier</button>

        {{ form_end(userForm) }}
        <form method="post" action="{{ path('student_delete', {'slug': student.slug}) }}"
              onsubmit="return confirm('Voulez vous vraiment supprimer votre compte ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
            <button class="btn btn-supp text-end me-4"><i class="fa fa-trash me-1"></i></button>
        </form>
        </div>
    {% endblock %}

    {% block profileBottom %}
        {{ form_start(form) }}
        <div class="profile-offer mx-4 my-3 py-lg-3">
            <h3>Autre Informations </h3>
            <div class="d-flex justify-content-between">
                {{ form_row(form.ine) }}
                {{ form_row(form.username) }}
                {{ form_errors(form.username) }}
            </div>
            <div class="profile-offer-title d-flex align-items-center my-0 my-lg-2">
                {{ form_label(form.pictureFile, "Image de profil :") }} {{ form_widget(form.pictureFile, {'attr': {'class': 'w-100'}}) }}
            </div>
            <div class="profile-offer-head d-flex justify-content-between align-items-center mt-3 mb-2">
                {{ form_label(form.school, "École :") }}
                {{ form_widget(form.school, {'attr': {'class': 'w-50'}}) }}
            </div>
            <div class="">
                <h5>Présentation</h5>
                <div>
                    {{ form_widget(form.description, {'attr': {'required': 'required'}}) }}
                </div>
            </div>
            <div class="d-flex mt-3 mb-3 profile-localisation justify-content-end">
                <button class="btn btn-secondary"> Modifier</button>
            </div>
        </div>
        {{ form_end(form) }}

        {{ form_start(passwordForm) }}
        <div class="profile-offer mx-4 my-3 py-lg-3">
            <h3> Changer de mot de passe </h3>
            <div class="profile-offer-head d-flex justify-content-between align-items-center mb-2">
                <div class="profile-offer-title d-flex align-items-center my-0 my-lg-2"> {{ form_row(passwordForm.plainPassword.first) }}
                    <span class="m-3"> </span> {{ form_row(passwordForm.plainPassword.second) }}</div>
                {{ form_errors(passwordForm) }}
                <button class="btn btn-secondary w-auto password-btn ms-2" type="submit"> Changer</button>
            </div>
        </div>
        {{ form_end(passwordForm) }}
    {% endblock %}

