{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
    <div class="card-introduction border-success mx-auto m-5">
        <div class="card-body text-success">
            <p class="card-text">Accédez aux dernières nouveautés sur les stages et alternances sur le blog <a class="linkWWJ" href="http://worldwidejob.fr/blog">WorldWideJob</a></p>
        </div>
    </div>
    <div class="card-choice">
        <h2> Je suis ... </h2>
        <div class="card-create ">
            <div class="btn home justify-content-center align-items-center" >
                <img class="btn-img me-2" src="{{ asset('build/images/noto_man-student.png') }}">
                <a class="text-decoration-none text-white" href="{{ path('registration_index', {'role': 'etudiant'}) }}">
                    Etudiant
                </a>
            </div>
            <div class="btn home justify-content-center align-items-center"  >
                <img class="btn-img me-2" src="{{ asset('build/images/emojione_school.png') }}" >
                <a  class="text-decoration-none text-white" href="{{ path('registration_index', {'role': 'ecole'}) }}" >
                    Formation
                </a>
            </div>
            <div class="btn home justify-content-center align-items-center" >
                <img class="btn-img me-2" src="{{ asset('build/images/emojione_briefcase.png') }}">
                <a class="text-decoration-none text-white" href="{{ path('registration_index', {'role': 'entreprise'}) }}">
                    Entreprise
                </a>
            </div>
        </div>
    </div>
    <div class="card-choice stats">
        <div class="row">
            <div class="col">
                <div class="stat1 d-flex flex-column">
                    <h2>{{ countStudents|length }}</h2>
                    <h4>Profils d'étudiants</h4>
                </div>
            </div>
            <div class="col">
                <div class="stat2 d-flex flex-column">
                    <h2>{{ countApplications|length }}</h2>
                    <h4>Offres publiées</h4>
                </div>
            </div>
            <div class="col">
                <div class="stat2 d-flex flex-column">
                    <h2>{{ countCompanies|length }}</h2>
                    <h4>Entreprises inscrites</h4>
                </div>
            </div>
            <div class="col">
                <div class="stat2 d-flex flex-column">
                    <h2>{{ signedApplications|length }}</h2>
                    <h4>Conventions signées</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
