{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
    <div class="card-introduction border-success mx-auto m-5">
        <div class="card-body text-success">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus ipsum eu ex aliquet pretium.
        Curabitur accumsan odio elit, sed tempus justo suscipit at. Ut eros risus, vulputate eget augue id, efficitur
        sollicitudin lectus. Mauris laoreet sodales lorem, eu congue risus aliquet sit amet.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card-choice">
        <div class="card-create"> Se créer un compte </p>
            <div class="btn home " >  <img class="btn-img" src=" {{ asset('/build/images/noto_man-student.727b2524.png') }}"> <a class="text-decoration-none text-white" href=" {{ path('registration_index', {'role': 'etudiant'}) }}">  Etudiant  </a> </div>
            <div class="btn home"  >  <img class="btn-img" src=" {{ asset('build/images/emojione_school.b7ba314f.png') }}" >   <a  class="text-decoration-none text-white" href=" {{ path('registration_index', {'role': 'ecole'}) }}" >  Formation </a> </div>
            <div   class="btn home" >  <img class="btn-img" src="{{ asset('/build/images/emojione-v1_necktie.31783510.png') }}">    <a class="text-decoration-none text-white" href=" {{ path('registration_index', {'role': 'entreprise'}) }}"> Entreprise </a> </div>
            </div>
    </div>
    <div class="card-choice">
    <div class="row">
    <div class="col">
00
    </div>
    <div class="col">
00
    </div>
    <div class="col">
00
    </div>
    <div class="col">
00
    </div>
    <div class="col">
00
    </div>
    </div>
    </div>
{% endblock %}

