{% extends 'admin/base.html.twig' %}

{% block title %}Admin liste des étudiants{% endblock %}

{% block body %}
    <h1>Liste des étudiants</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Picture</th>
            <th>Ine</th>
            <th>UpdatedAt</th>
            <th>Slug</th>
            <th>Username</th>
            <th>Status</th>
            <th>Roles</th>
            <th>Email</th>
            <th>Civility</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthdate</th>
            <th>Phone</th>
            <th>Adress1</th>
            <th>Adress2</th>
            <th>City</th>
            <th>Zip</th>
            <th>Country</th>
            <th>IsVerified</th>
            <th>LastConnection</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.picture }}</td>
                <td>{{ student.ine }}</td>
                <td>{{ student.updatedAt ? student.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student.slug }}</td>
                <td>{{ student.username }}</td>
                <td>{{ student.status ? 'Yes' : 'No' }}</td>
                <td>{{ student.user.roles ? student.user.roles|json_encode : '' }}</td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.user.civility }}</td>
                <td>{{ student.user.firstname }}</td>
                <td>{{ student.user.lastname }}</td>
                <td>{{ student.user.birthdate ? student.user.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ student.user.phone }}</td>
                <td>{{ student.user.adress1 }}</td>
                <td>{{ student.user.adress2 }}</td>
                <td>{{ student.user.city }}</td>
                <td>{{ student.user.zip }}</td>
                <td>{{ student.user.country }}</td>
                <td>{{ student.user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ student.user.lastConnection ? student.user.lastConnection|date('Y-m-d') : '' }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
