{% block aside %}
    <div class="pt-3 sidebar-container position-sticky ">


        {% if is_granted('ROLE_COMPANY_COMPLETED') %}
            <div class="img-logo"
                 style="background-image: url(http://www.resonancecommunication.com/wp-content/uploads/2014/07/logo-pro.jpg);">
            </div>


            <div class="img-logo"
                 style="background-image: url(http://www.resonancecommunication.com/wp-content/uploads/2014/07/logo-pro.jpg);">
            </div>

            <ul class="list-unstyled list-inline nav-contain">
                <!-- décomenter le twig pour mettre en place les routes -->
                <!-- tableau dynamique -->
                {% set links = [
                    {'title': 'Mon profil entreprise', 'path': '#'},
                    {'title': 'Créer une offre', 'path': '#'},
                    {'title': 'Voir mes offres', 'path': '#'},
                    {'title': 'Consulter mes candidature', 'path': '#'},
                ] %}
                {% for link in links %}
                    <li class="text-decoration-none btn-primary
                 {# {{ app.request.pathinfo == path(link.path) ? 'activelink' }} #}">
                        <a class="text-decoration-none "
                           href="{# {{ path(link.path) }} #}">{{ link.title }}</a>
                    </li>
                {% endfor %}


            </ul>


        {% endif %}

        {% if is_granted('ROLE_SCHOOL_COMPLETED') %}
            <div class="img-logo "
                 style="background-image: url(http://www.sorbonne.fr/wp-content/uploads/2013/10/paris3_niou.jpg);">
            </div>

            <ul class="list-unstyled list-inline nav-contain">
                <!-- décomenter le twig pour mettre en place les routes -->
                <!-- tableau dynamique -->
                {% set links = [
                    {'title': 'Mon profil formation', 'path': '#'},
                    {'title': 'Liste des étudiants', 'path': '#'},
                    {'title': 'Suivie de mes étudiants', 'path': '#'},
                    {'title': 'Mes cursus', 'path': '#'},
                ] %}
                {% for link in links %}
                    <li class="text-decoration-none btn-primary
                 {# {{ app.request.pathinfo == path(link.path) ? 'activelink' }} #}">
                        <a class="text-decoration-none "
                           href="{# {{ path(link.path) }} #}">{{ link.title }}</a>
                    </li>
                {% endfor %}


            </ul>
        {% endif %}

        {% if is_granted('ROLE_STUDENT_COMPLETED') %}

            <div class="img-profil "
                 style="background-image: url(https://thispersondoesnotexist.com/image);">
            </div>

            <ul class="list-unstyled list-inline nav-contain">
                <!-- décomenter le twig pour mettre en place les routes -->
                <!-- tableau dynamique -->
                {% set links = [
                    {'title': 'Mon profil étudiant', 'path': '#'},
                    {'title': 'Faire mon CV', 'path': '#'},
                    {'title': 'Voir mes candidatures', 'path': '#'},
                    {'title': 'Mes offres favorites', 'path': '#'},
                ] %}
                {% for link in links %}
                    <li class="text-decoration-none btn-primary
                 {# {{ app.request.pathinfo == path(link.path) ? 'activelink' }} #}">
                        <a class="text-decoration-none "
                           href="{# {{ path(link.path) }} #}">{{ link.title }}</a>
                    </li>
                {% endfor %}


            </ul>

        {% endif %}
        {% if is_granted('ROLE_USER') == false %}
            Vous n'étes pas connecté.

        {% endif %}

    </div>
{% endblock %}



