<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}{% endblock %} | Atelier Pet Symfony
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('admin') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}
	</head>
	<body class="h-100" {{ stimulus_controller({
		admin: {},
		'symfony/ux-swup/swup': {
			containers: ['#swup', '#nav'],
			cache: false,
		}}) }} >
	{% include "admin/_nav.html.twig" %}
	<main class="main-container">
		<div class="px-2">
			<button class="open-main-nav navbar-toggler d-lg-none"><i class="bi bi-list"></i></button>
		</div>
		<div class="container-fluid" id="swup">
			{% block body %}{% endblock %}
		</div>
	</main>
	<script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}"></script>
	</body>
</html>
