{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="login-background-image" style="background-image: url(build/images/background-Login.fd72d10a.png);" >
	<div class="wrapper fadeInDown">
		<div id="formContent" class="formContent">

			<form action="{{ path('login') }}" method="post" class="form-container">

				<div class="background-login-form">
					<label class=" form-titre" for="username">Email:</label>
					<input type="text" id="login" class="fadeIn second input-login form-control" id="username" name="_username" value="{{ last_username }}"/>
					<label for="password">Password:</label>
					<input id="password" class="fadeIn third input-login form-control" type="password" id="password" name="_password"/>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<input type="hidden" name="_target_path" value="{{ path('redirection') }}"/>
					<button class="fadeIn fourth form-btn btn rounded-1 btn-primary m-1" type="submit">se connecter</button>
				</div>
				<p>  Pas encore inscrit ? <a href="{{ path('home') }}">Créez un compte</a> </p>
			</form>

		</div>
	</div>
	</div>
{% endblock %}
