{% block cv %}
    <div class="grid-container d-block">
        <div class="zone-1">
            <div class="toCenter">
                <div class="profile">
                    <img class="userPicture rounded-circle" src="{{ vich_uploader_asset(candidature.student) }}" alt="{{ candidature.student.user.lastname }}">
                </div>
            </div>
            <div class="contact-box">
                <div class="title">
                    <h2>Contact</h2>
                </div>
                <div class="call"><i class="fas fa-phone-alt"></i>
                    <div class="text">{{ candidature.student.user.phone }}</div>
                </div>
                <div class="home"><i class="fas fa-home"></i>
                    <div class="text">{{ candidature.student.user.zip }} {{ candidature.student.user.city }}</div>
                </div>
                <div class="country"><i class="fas fa-globe"></i>
                    <div class="text">{{ candidature.student.user.country }}</div>
                </div>
                <div class="email"><i class="fas fa-envelope"></i>
                    <div class="text">{{ candidature.student.user.email }}</div>
                </div>
            </div>
            <div class="personal-box">
                <div class="title">
                    <h2>Compétences</h2>
                    {% if candidature.student.curriculum.skills is defined%}
                    <div class="skill-1">
                        <p>{{ candidature.student.curriculum.skills }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="langues-box">
                <div class="title">
                    <h2>Langues</h2>
                    <ul>
                        <li>{{ candidature.student.curriculum.language }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="zone-2">
            <div class="headTitle">
                <h1>{{ candidature.student.user.firstname }}<br><b>{{ candidature.student.user.lastname }}</b></h1>
            </div>
            <div class="group-1">
                <div class="title">
                    <div class="box">
                        <h2>A propos de moi</h2>
                    </div>
                </div>
                <div class="desc">{{ candidature.student.description }}</div>
            </div>
            <div class="group-2">
                <div class="title">
                    <div class="box">
                        <h2>Diplômes</h2>
                    </div>
                </div>
                <div class="desc">
                {% for training in candidature.student.curriculum.trainings %}
                        <ul>
                            <li>
                                <div class="msg-1">{{ training.dateIn|date("d-n-y") }}-{{ training.dateOut|date("d-n-y") }} | {{ training.degree }}</div>
                                <div class="msg-2">{{ training.school }} | {{ training.graduate }}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="group-3">
                <div class="title">
                    <div class="box">
                        <h2>Expériences</h2>
                    </div>
                </div>
                <div class="desc">
                    {% for experience in candidature.student.curriculum.experiences %}
                        <ul>
                            <li>
                                <div class="msg-1">{{ experience.dateIn|date("d-n-y") }}-{{ experience.dateOut|date("d-n-y") }} | {{ experience.jobPosition }}</div>
                                <div class="msg-2">{{ experience.contractType }} - {{ experience.company }} - {{ experience.localisation }}</div>
                                <div class="msg-3">{{ experience.description }}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

