{% extends 'profile.html.twig' %}

{% block title %}Edit Company{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('edit') }}
 {% endblock %}
{% block banner %}
    <img src="{{ asset('build/images/workbanner.jpg') }}" class="profile-banner" alt="profile banner">
{% endblock %}

{% block picture %}
    <div class="profile-title title-edit">
            <img src="{{ vich_uploader_asset(company) }}" class="profile-picture picture-edit"
                 alt="company.companyName">
    </div>
{% endblock %}
{% block information %}
    {{ form_start(userForm) }}
    <div class="profile-name mt-lg-4 mb-2 d-flex h-100 justify-content-end">
        {{ form_widget(userForm.firstname,
            {'attr': {'required': 'required', 'class': 'w-25 ms-1 me-1 '}}) }}
        {{ form_widget(userForm.lastname,
            {'attr': {'required': 'required', 'class': 'w-25 ms-1 me-1 '}}) }}
    </div>

    <div class="profile-localisation localisation-edit">
        <div class="d-flex mt-2 mb-5">
            {{ form_row(userForm.city, {'attr': {'class': 'mx-2'}}) }}
            {{ form_row(userForm.zip, {'attr': {'class': 'mx-2'}}) }}
            {{ form_row(userForm.country, {'attr': {'class': 'mx-2'}}) }}
        </div>
    </div>

    <div class="d-flex localisation-edit profile-localisation justify-content-between">
        {{ form_row(userForm.adress1) }}
        {{ form_row(userForm.adress2) }}
    </div>

    <div class="d-flex localisation-edit profile-localisation justify-content-between">
        {{ form_row(userForm.phone) }}
        {{ form_row(userForm.email) }}
    </div>
    <div>

    </div>
    <div class="d-flex localisation-edit profile-localisation justify-content-between">
        {{ form_row(userForm.civility) }}
        {{ form_row(userForm.birthdate) }}
    </div>

    <div class="d-flex flex-row-reverse  my-3 mx-auto profile-localisation localisation-edit justify-content-start">
        <button class="btn btn-secondary"> Modifier </button>
    {{ form_end(userForm) }}
    <form method="post" action="{{ path('company_delete', {'slug': company.slug}) }}"
          onsubmit="return confirm('Voulez vous vraiment supprimer votre compte ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
        <button class="btn btn-supp text-end me-4"><i class="fa fa-trash me-1"></i></button>
    </form>
    </div>
{% endblock %}

{% block profileBottom %}
    {{ form_start(form) }}
    <div class="profile-offer mx-4 my-3 py-lg-3">
        <h3>Autre Informations  </h3>
        <div class="profile-offer-head d-flex justify-content-between align-items-center mb-2">
            <div class="profile-offer-title d-flex align-items-center my-0 my-lg-2">
                {{ form_row(form.companyName) }}
            </div>
            <div class="profile-offer-title d-flex align-items-center my-0 my-lg-2">
                {{ form_row(form.companyFormat) }}
            </div>
        </div>
        <div class="profile-offer-head d-flex justify-content-between align-items-center mb-2">
            <div class="profile-offer-title d-flex align-items-center my-0 my-lg-2">
                {{ form_label(form.siret, null, {'attr': {'class': 'label-nowrap'}}) }}
                {{ form_widget(form.siret) }}
            </div>

            <div class="profile-offer-title d-flex align-items-center my-0 my-lg-2">
                {{ form_label(form.siren, "N° SIREN :", {'attr': {'class': 'label-nowrap'}}) }}
                {{ form_widget(form.siren) }}
            </div>
        </div>
        <div class="profile-offer-title d-flex align-items-center my-0 my-lg-2">
            {{ form_label(form.logoFile, "Image de profil :") }} {{ form_widget(form.logoFile, {'attr': {'class': 'w-100'}}) }}
        </div>
        <h5>Présentation</h5>
        <div>
            {{ form_widget(form.description, {'attr': {'required': 'required'}}) }}
        </div>
        <div class="d-flex mt-3 mb-3 profile-localisation justify-content-end">
            <button class="btn btn-secondary"> Modifier</button>
        </div>
    </div>
    {{ form_end(form) }}

    {{ form_start(passwordForm) }}
    <div class="profile-offer mx-4 my-3 py-lg-3">
        <h3> Changer de mot de passe </h3>
        <div class="profile-offer-head d-flex justify-content-between align-items-center mb-2">
            <h4 class="profile-offer-title d-flex align-items-center my-0 my-lg-2"> {{ form_row(passwordForm.plainPassword.first) }}
                <span class="m-3"> </span> {{ form_row(passwordForm.plainPassword.second) }}</h4>
            <button class="btn btn-secondary w-auto password-btn ms-2" type="submit"> Changer</button>
        </div>
    </div>
    {{ form_end(passwordForm) }}


    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div id="alertEdit" class="alert alert-{{ category }}">
                <button id="btnEditClose" class="btn-close closeAlert"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}
