gi{% extends 'base.html.twig' %}
        {% block title %}Recherche emploi world wide job{% endblock %}

{% block filters %}
{% endblock %}
{% block body %}

    <div class="filterBar">
    </div>
    <div class="searchContainer">
        <div class="searchGrid">
            <div class="smallSearchCard">
                {% if candidatures %}
                {% for candidature in candidatures %}
                    <div class="card rounded sha dow smallOffer" id="smallOffer{{ candidature.id }}">
                        <div class="card-body smallCard d-flex flex-row align-items-center">

                            <div class="job-profil-Container me-2">
                                <img class="profil-offer-photo mt-0" src="{{ candidature.picture }}"
                                     alt="logo entreprise">
                            </div>

                            <div class="jobInfoContainer">

                                <div class="jobSubInfoContainer d-flex flex-column align-items-start">
                                    <h3 class="jobTitle offer-name text-primary mb-1">  {{ candidature.lastname }} {{ candidature.firstname }}</h3>
                                    <h4 class="jobLocation offer-localisation  mt-1 mb-0">{{ candidature.city }}
                                        ({{ candidature.zip }}
                                        )</h4>
                                    <h4 class="jobType offer-formation mb-0"> {{ candidature.schoolName }} </h4>
                                    <h5 class="jobDate offer-date mb-0">il y a 4 jour </h5>
                                </div>
                                {% if candidature.status == 1 %}
                                    <div class="status-candidature"> En attente </div>
                                {% elseif candidature.status == 2 %}
                                    <div class="status-candidature" > Validé </div>
                                {% elseif candidature.status == 3 %}
                                    <div class="status-candidature"> Refusé </div>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
        <div class="largeSearchCard card-cv" style="max-width: 580px;" id="largeSearchCard">
            {% for candidature in candidatures %}
                <div class="card rounded shadow largeOffer" id="largeOffer{{ candidature.id }}">
                    <div class="card-body largeCard d-flex flex-column">
                        <button class="btn-close closeOffer"></button>
                        <div style="width: 34.375rem"><img class="cv-offer"
                                                           src="{{ asset('build/images/120-modele-cv-francais.93cbe942.jpg') }}">
                        </div>
                        <hr>
                        <div>

                            <button class="btn-primary text-white rounded descApply me-2">Valider</button>
                            <button class="btn-primary text-white rounded descSave me-1 ms-2">Voir le profil</button>
                            <button class="btn-primary text-white rounded descSave ms-1 me-2">Favori</button>
                            <button class="btn-primary text-white rounded descSave ms-1 me-2">Enregistrer le CV</button>
                            <h5 class="descDate mt-2"> il y a 3 jours </h5>


                        </div>


                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="card rounded sha dow smallOffer">
                    <div class="card-body smallCard d-flex flex-row align-items-center">


                        <div class="jobInfoContainer">

                            <div class="jobSubInfoContainer d-flex flex-column align-items-start">

                                Aucune candidature
                            </div>
                        </div>


                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
