{{ form_row(form.jobPosition) }}
{{ form_row(form.company) }}
{{ form_row(form.localisation) }}
{{ form_row(form.contractType) }}
{{ form_row(form.dateIn) }}
{{ form_row(form.dateOut) }}
{{ form_row(form.description) }}
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove">Supprimer</button>
</div>

