
{{ form_row(form.fieldOfStudy) }}
{{ form_row(form.school) }}
<div class="d-flex flex-row justify-content-evenly">
{{ form_row(form.dateIn) }}
{{ form_row(form.dateOut) }}
</div>
{{ form_row(form.description) }}
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove mb-2">Supprimer</button>
</div>

