<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('build/images/logofinal.ico') }}"/>
    <title>
        {% block title %}Projet 3 Name{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="home-background-image {{ app.request.pathinfo == path('login') ? 'background-image: url(' ~ asset('build/images/background-Login.png') ~ ')' }}
d-flex flex-column h-100"
      style="{{ app.request.pathinfo == path('home') ? 'background-image: url(' ~ asset('build/images/office.png') ~ ')' }}">
<header class="position-fixed mt-0 top-0 w-100">
    {% include 'component/_navbar.html.twig' %}
</header>
{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div>
    <aside >
        {% block sidebar %}{% endblock %}
    </aside>
    <main>
        {% block body %}{% endblock %}
    </main>

</div>
<footer class="mt-auto footer-complete">
    {% include 'component/_footer.html.twig' %}
</footer>
</body>
</html>
