<!DOCTYPE html>

<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('build/images/logofinal.ico') }}"/>

    <title>
        {% block title %}Projet 3 Name{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% endblock %}
</head>
<body class="{{ app.request.pathinfo == path('home') ? 'home-background-image' }}"
      style="{{ app.request.pathinfo == path('home') ? 'background-image: url(build/images/office.4166db60.png);' }}">
<header class="position-sticky top-0">
    {% include 'component/_navbar.html.twig' %}
</header>
<div>
    <aside >
        {% block sidebar %}{% endblock %}
    </aside>
    <main>
        {% block body %}{% endblock %}
</main>
</div>

</body>

</html>
