<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    <link rel="stylesheet" href="/build/app.css">
    <script src="/build/app.js"></script>
    <title>
        {% block title %}Recherche emploi world wide job{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<header>
</header>
<body>
{% block filters %}
{% endblock %}
<div class="searchContainer">
    <div class="searchGrid">
        <div class="smallSearchCard">
            {% for offer in offers %}
                <div class="card rounded shadow smallOffer" id="smallOffer{{ offer.id }}">
                    <div class="card-body smallCard">
                        <div class="jobTitleContainer">
                            <div class="jobTitle text-primary">{{ offer.name }}</div>
                        </div>
                        <div class="jobInfoContainer">
                            <div class="jobLogoContainer">
                                <img class="jobCompanyLogo" src="{{ asset('build/images/favicon.png') }}" alt="logo entreprise">
                            </div>
                            <div class="jobSubInfoContainer">
                                <div class="jobLocation">{{ offer.city }}</div>
                                <div class="jobType">Type de contrat</div>
                                <div class="jobDate">Il y à 1 jour</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="largeSearchCard" id="largeSearchCard">
        <div class="card rounded shadow largeOffer">
            <div class="card-body largeCard">
                <button class="btn-close closeOffer" id="closeOffer"></button>
                <div class="descCompanyName">Company name</div>
                <div class="descJobTitle">Développeur web Php/Symfony</div>
                <div class="descJobLocation">Marseille (13 000)</div>
                <div class="descJobType">Alternance 1 an</div>
                <button class="btn-primary text-white rounded descApply">Postuler</button>
                <button class="btn-primary text-white rounded descSave">Enregistrer</button>
                <div class="descDetails">Détail de l'offre :</div>
                <div class="descOffer">BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                    BABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBABABABABABABABABABABBABABABABBAABBA
                </div>
                <div class="descDate">Il y à 2 jours</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>