{% extends 'base.html.twig' %}
{% block title %}Mes offres enregistrées{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('offerShow') }}
{% endblock %}

{% block sidebar %}
      {% include 'component/_sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h2 class="favorite-title text-center">Mes favoris</h2>
    {% if app.user.student.favorite|length >= 1 %}
    <div class="searchContainer">
        <div class="searchGrid">
            <div class="smallSearchCard">
                {% for offer in student.favorite %}
                    {% if offer.status %}
                        <div class="card rounded shadow smallOffer" id="smallOffer{{ offer.id }}">
                            <div class="card-body smallCard">
                                <div class="jobTitleContainer">
                                    <h3 class="jobTitle text-primary">{{ offer.name }}</h3>
                                </div>
                                <div class="jobInfoContainer">
                                    <div class="jobLogoContainer">
                                        <img class="jobCompanyLogo" src="{{ vich_uploader_asset(offer.company) }}" alt="logo entreprise">
                                    </div>
                                    <div class="jobSubInfoContainer">
                                        <h4 class="jobLocation">{{ offer.city }}</h4>
                                        <h4 class="jobType">{% for key, value in offer.contractType %}
                                                {% if offer.contractType == value %}
                                                    {{ key }}
                                                {% endif %}
                                            {% endfor %}
                                        </h4>
                                        <h5 class="jobDate">{% set difference = date('now').diff(date(offer.dateOfPublication)) %}
                                            {% set left_days = difference.days %}
                                            Il y à
                                            {% if left_days == 1 %}
                                                1 jour
                                            {% else %}
                                                {{ left_days }} jours
                                            {% endif %}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="largeSearchCard" id="largeSearchCard">
            {% for offer in student.favorite %}
                {% if offer.status %}
                    <div class="card rounded shadow largeOffer" id="largeOffer{{ offer.id }}">
                        <div class="card-body largeCard">
                            <button class="btn-close closeOffer"></button>
                            <h3 class="descCompanyName">{{ offer.company.companyName }}</h3>
                            <h2 class="descJobTitle">{{ offer.name }}</h2>
                            <h3 class="descJobLocation">{{ offer.city }}</h3>
                            <h3 class="descJobType">{% for key, value in offer.contractType %}
                                    {% if offer.contractType == value %}
                                        {{ key }}
                                    {% endif %}
                                {% endfor %}
                            </h3>
                            {% if app.user is not empty and offer.isAppliedByStudent(app.user.student) %}
                                <button class="btn-success text-white rounded descApply">Postulé</button>
                            {% else %}
                                <a href="{{ path('offer_apply', {'id': offer.id}) }}" data-apply="" class="btn-primary text-white rounded descApply">Postuler</a>
                            {% endif %}
                            <a class="{{ app.user.student.inFavorite(offer) ? 'btn-success' : 'btn-primary' }} text-white rounded descSave" data-favorite="" href="{{ path('offer_favorite', {'id': offer.id}) }}">{{ is_granted('ROLE_STUDENT_COMPLETED') and app.user.student.inFavorite(offer) ? 'Retirer' : 'Enregistrer' }}
                            </a>
                            <div class="descDetails">Détail de l'offre :</div>
                            <div class="descOffer">{{ offer.longDescription|raw }}</div>
                            <h5 class="descDate">{% set difference = date('now').diff(date(offer.dateOfPublication)) %}
                                {% set left_days = difference.days %}
                                Il y à
                                {% if left_days == 1 %}
                                    1 jour
                                {% else %}
                                    {{ left_days }} jours
                                {% endif %}</h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p class="text-center">Vous n'avez pas de favoris</p>
    {% endif %}
{% endblock %}
